body{
    margin: 0;
    padding: 0;
}
table{
    margin: 30px auto;
    min-width: 600px;
    border: 1px solid #222;
    justify-content: center;
    border-collapse: collapse;
}
table td{
    border: 1px solid #222;
    text-align: center;
}
table tr:nth-child(even){
    background-color: azure;
}